	<% if @task.errors.any?%>
		<%= render 'tasks/alert'%>
	<% end%>


	<div class="container mt-5">
		<div class="form-layout-center account-form mt-5 task--card">
			<h4 class="text-center mb-4 mt-2 purple-text" style="color:gray">Edit task</h4>
			<%= form_for @task, url:task_path(@task) do |f| %>
			<div class="form-floating float-pass-2 mb-3 mt-3">
				<%= f.text_field :name, autofocus: true, class: "form-control", id: "floatingInput", placeholder: "Sample Task" %>
				<%= f.label "Task Name", for: "floatingInput" %>
			</div>

			<div class="d-flex flex-row justify-content-between task-flex">
				<div class="label-task black-text mb-3 mt-1 col-md-4">
					<%= f.label "Priority Level", for: "dropdown" %> <br>
					<%= f.select :priority_level, Task::PRIORITY_OPTIONS, id: "dropdown",class: "form-control" %>
				</div>

				<div class="label-task black-text mb-3 mt-1">
					<%= f.label "Due date", for: "due-date" %>
					<%= f.date_field :due_date, class: "form-control", id: "due-date" %>
				</div>
			</div>

			<div class="mb-1 form-check form-text text-center">
				<%= f.check_box :completed, class:"form-text", id:"task-completed"  %>
				<%= f.label "Mark task as completed", for:"task-completed", class:"label-task black-text" %>
			</div>

			<div class="actions text-center mb-3 mt-3">
				<%= f.submit "Update Task", class:"btn btn-custom-primary", style:"width:100%" %>
			</div>
			<% end %>

		</div>
	</div>