<div class="container mt-5">
  <div class="form-layout-center account-form mt-5">
    <h2 class="text-center mb-4 mt-2" style="color:gray">Change your password</h2>
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <%= f.hidden_field :reset_password_token %>

    <div class="form-floating float-pass-2 mb-2">
      <%= f.password_field :password, autocomplete: "new-password", class:"form-control", id:"floatingPassword", placeholder:"Password" %>
      <%= f.label "Password (#{@minimum_password_length} characters minimum)", for: "floatingPassword", id:"floatOverflow" %>  
    </div>

    <div class="form-floating float-pass-2 mb-4">
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control", id:"floatingPasswordConfirm", placeholder:"Confirm Password" %>
      <%= f.label :password_confirmation, for: "floatingPasswordConfirm" %>
    </div>

    <div class="actions text-center mt-3 mb-5">
      <%= f.submit "Sign up", class:"btn btn-custom-success", style:"width:100%" %>
    </div>
  <% end %>
  </div>
</div>
<%= render 'layouts/bg-images'%>