	<% if @project.errors.any?%>
    <%= render 'projects/alert' %>
	<% end%>

  <div class="container mt-5">
    <div class="form-layout-center account-form mt-5 task--card">
      <h4 class="text-center mb-4 mt-2 purple-text" style="color:gray">Create a new project</h4>
			<%= form_for @project, url:project_path(@project) do |f| %>
      <div class="form-floating float-pass-2 mb-3 mt-3">
        <%= f.text_field :name, autofocus: true, class: "form-control", id: "floatingInput", placeholder: "New Project Name" %>
        <%= f.label "Project Name", for: "floatingInput" %>
      </div>

      <div class="form-floating float-pass-2 mb-3 mt-3">
        <%= f.text_field :description, autofocus: true, class: "form-control", id: "floatingInput", placeholder: "Description Here" %>
        <%= f.label "Project Description", for: "floatingInput" %>
      </div>

      <div class="actions text-center mb-5">
        <%= f.submit "Submit", class:"btn btn-custom-primary", style:"width:100%" %>
      </div>
      <% end %>

    </div>
  </div>