<div class="container mt-5">
  <h1 class="mb-3 mx-3"> <%= current_user.first_name%>'s Projects </h1>
  <div class="d-flex flex-row flex-wrap mb-5">
    <%# if !@articles.empty? %>
    <% @projects.each do |project| %>
      <a href="<%= project_path(project) %>" class="project--card m-2 p-3"> 
        <div>
          <div class="p-2 mt-3 mx-2 project--column">
              <h3 class="p-0 text-center"> <%= project.name %> </h3>
            <div class="hover--only text-center">
              <h4> <%= project.name %> </h4>
              <hr>
              <p class="text-truncate"> <%=project.description%> </p>
            </div>
          </div>
        </div>
      </a>
    <% end %>
    <a href="<%= new_project_path %>" class="light--card m-2 p-3"> 
      <h3 class="p-2 text-center mt-3"> Create new project </h3>
    </a>
  </div>
  <%= link_to "Back", root_path, class:"btn btn-secondary"%>
    <%= link_to "New Project", new_project_path, class:"btn btn-secondary"%>
</div>