<div class="container mt-1 p-5">
  <div class="d-flex justify-content-between align-items-end">
    <div  class="text-end align-bottom" >
      <h1 class="p-0"> PROJECT NAME: <%= @project.name %> </h1>
    </div>
    <div class="text-end align-bottom" style="text-align: right">
        <%= link_to "edit", edit_project_path(@project)%></i>
        | <%= link_to "trash", project_path(@project), :method => :Delete, data: {confirm: "Are you sure you want to delete this?"} %> <br/>
      <small class="text-end align-bottom "><i>Created: <%= @project.created_at.strftime('%b. %e, %Y')%> </i> </small> <br/>
      <small class="text-end align-bottom"><i>Last updated: <%= time_ago_in_words(@project.updated_at)%> ago </i> </small> 
    </div>
  </div>
  <hr/>
  <p class="mt-4" style="text-indent: 2em"> PROJECT DESCRIPTION: <%= @project.description %> </p>
</div>

<div class="d-flex flex-row overflow-auto mb-5 ml-5">
  <%# if !@articles.empty? %>
  <% @project.categories.each do |category| %>
    <div class="category--card m-2 p-3">
      <div class="p-4 column">
        <div  class="text-end align-bottom" >
          <h1 class="p-0">#<%= category.id %>, <%= category.title%> </h1>
          <%#= link_to "View", project_categories_path(category)%>
          <%= link_to "Edit Cat", edit_category_path(category)%>
         <%= link_to "Delete Cat", category_path(category), :method => :Delete, data: {confirm: "Are you sure you want to delete this?"} %>
        </div>
        <hr/>
        <div>
          <% category.tasks.each do |task| %>
          <div class="task--card">
            task#<%=task.id%>
            <%=task.name%>
            <%=task.description%>
            <%=task.priority_level%>
            <%=task.due_date%>
            <%#= link_to "View", category_tasks_path(task)%>
            <%= link_to "Edit Task", edit_task_path(task)%> 
            <%= link_to "Delete Task", task_path(task), :method => :Delete, data: {confirm: "Are you sure you want to delete this?"} %> <br>
          </div>
          <% end %>
        </div>
      </div>
      <div class="text-end p-2 mr-3" style="text-align:right">
        <td> <%= link_to "New Task", new_category_task_path(category)%> </td>
      </div>
    </div>
  <% end %>
  <div class="category--card m-2 p-3"> 
    <div class="column"> 
      <%= link_to "New Category", new_project_category_path(@project)%> 
    </div>
  </div>
</div>