<div class="container mt-5">
  <div class="form-layout-center account-form mt-5">
    <h2 class="text-center mb-4 mt-2" style="color:gray">Welcome back!</h2>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-floating float-pass-2 mb-3 mt-3">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", id: "floatingInput", placeholder: "name@example.com" %>
      <%= f.label :email, for: "floatingInput" %>
    </div>

    <div class="form-floating float-pass-2 mb-4">
      <%= f.password_field :password, autocomplete: "current-password", class:"form-control", id:"floatingPassword", placeholder:"Password" %>
      <%= f.label :password, for: "floatingPassword" %>
    </div>

    <div class="actions text-center mb-5">
      <%= f.submit "Log in", class:"btn btn-custom-success", style:"width:100%" %>
    </div>
    <% end %>

    <div class="text-center mt-3 mb-3">    <hr/>
      <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
        <small> <%= link_to "Sign up for an account", new_registration_path(resource_name) %> </small>
      <% end %> <span class="gray-text">&nbsp; &#8226; &nbsp;</span> 
      <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
        <small> <%= link_to "Forgot your password?", new_password_path(resource_name) %> </small>
      <% end %>
    </div>
  </div>
</div>
<%= render 'layouts/bg-images'%>
