<header id="header"> 
  <nav id="nav-bar">
    <div><%= link_to "Workday", root_path, class:"header-link" %><img src="" id="header-img" alt=""></a></div>
  <!-- MENU TOGGLER -->
    <input type="checkbox" class="toggle-menu"> 
    <div class="hamburger">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
    <ul class="navigation">
        <!-- Nav Item 1 -->
      <% if user_signed_in? %>
        <%# <div class="d-flex flex-row flex-nowrap"> %>
          <li class="nav-item">
            <%= link_to 'Home', root_path, class:"nav-link"%>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/projects">Projects</a>
          </li>
        <%# </div> %>
      <% end %>
    <%# </ul> %>
    <%# <div class="float-right my-2 my-lg-0"> %>
      <% if user_signed_in?%>
        <%# <div class="d-flex flex-row flex-nowrap"> %>
          <li class=""> <%= link_to "Edit Profile", edit_user_registration_path, class:"btn btn-outline-secondary mx-2" %> </li>
          <li class=""> <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class:"btn btn-custom-primary mx-2" %> </li>
        <%# </div> %>
      <% else %>
        <%# <div class="d-flex flex-row flex-nowrap"> %>
          <li class="nav-item"> <%= link_to "Log In", new_user_session_path, class:"btn btn-outline-secondary mx-2" %> </li>
          <li class="nav-item"> <%= link_to "Get Started", new_user_registration_path, class:"btn  btn-custom-primary mx-2" %> </li>
        <%# </div> %>
      <% end %>
    </ul>
  </nav>
</header>